body {
  font-family: "Roboto", sans-serif;
}

.header-attributes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.attributes {
  list-style: none;
}

#headertodo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(166, 117, 231, 0.425);
  border-radius: 3rem;
  margin-bottom: 2rem;
  background-color: aliceblue;
  width: auto;
  margin: 2rem 30%;
  padding: 0 6rem 0 6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f0eaf3;
}

.search-bar,
.new-task {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  font-size: 24px;
}

.search-bar i,
.new-task i {
  cursor: pointer;
  margin-left: 1rem;
  -webkit-transition: margin-left 0.35s ease-in-out;
  transition: margin-left 0.35s ease-in-out;
}

.search-bar input,
.new-task input {
  border: 1px solid #f0eaf3;
  border-radius: 8px;
  height: 2rem;
  padding: 5px 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.search-bar i:hover {
  margin-left: 1.2rem;
}

.new-task i:hover {
  margin-left: 1.2rem;
}

input[type="text"]:focus {
  width: 250px;
}

input[type="text"] {
  width: 100px;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
}

#edit-btn,
#delete-btn {
  font-size: 20px;
}

#edit-btn:hover,
#delete-btn:hover {
  cursor: pointer;
}
